:root {
  --main-color: cadetblue;
  --secondary-color: aliceblue;
  --highlight-color: yellow;
}

.main-view {
  padding: 0 90px;
  position: initial;
  height: 100%;
  width: auto;
  overflow: auto;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #045c5c;
}

.score-container {
  display: flex;
}

.lower-score-view {
  background-color: var(--secondary-color);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem;
}

.upper-score-view {
  padding: 1rem;
  background-color: var(--main-color);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.upper-square {
  height: 15%;
  width: 15%;
}

.btn {
  display: block;
  width: 20%;
}

.roll-dice-bottom-view {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.roll-dice-button {
  text-align: center;
}

.roll-dice-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.roll-dice-btn:disabled {
  background-color: #dddddd;
  color: #aaaaaa;
  cursor: not-allowed;
}

.dice-view {
  height: auto;
  width: auto;
  overflow: auto;
  background-color: rgb(181, 80, 80);
  margin-bottom: 10px;
}

.container {
  text-align: center;
}

.square,
.held-die,
.normal {
  width: 35%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  padding-bottom: 0.5em;
}

.held-die {
  background-color: rgb(40, 103, 106);
}

.selected {
  background-color: yellow;
}

table {
  font-family: arial, sans-serif;
  border: 1px solid black;
}

td,
th {
  text-align: left;
  padding: 8px;
}

.game-over-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Ensure the popup appears over other elements */
}
