:root {
  padding: 20px 10px;
  background-color: #135353;
  display: inline-flex;
}

h1 {
  text-align: center;
}

.score-container {
  display: inline-flex;
}

.lower-score-view {
  background-color: var(--secondary-color);
  justify-content: center;
}

.upper-score-view {
  background-color: var(--main-color);
  flex: 1;
  align-items: center;
  /* justify-content: center; */
}

.upper-square {
  height: 27%;
  width: 27%;
}

.roll-dice-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.roll-dice-btn:disabled {
  background-color: #dddddd;
  color: #aaaaaa;
  cursor: not-allowed;
}

.dice-view {
  display: inline-flex;
  height: auto;
  width: auto;
  background-color: rgb(80, 117, 181);
  margin-bottom: 10px;
}

.square,
.held-die,
.normal {
  width: 100%;
  display: inline-block;
}

.held-die {
  background-color: rgb(40, 103, 106);
}

.selected {
  background-color: yellow;
}

table,
th,
td {
  text-align: left;
  font-family: arial, sans-serif;
  border: 1px solid black;
}

.game-over-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
