.main-view {
  padding-left: 100px;
  padding-right: 90px;
  position: initial;
  height: 100%;
  width: auto;
  overflow: auto;
  background-color: red;
}
.score-container {
  width: auto;
  display: block;
}

.lower-score-view {
  display: inline-flex;
  gap: 15px;
  background-color: aliceblue;
  width: 45%;
  height: 100%;
}

.upper-score-view {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  width: 45%;
  height: 100%;
  background-color: cadetblue;
}
.upper-square {
  height: 10%;
  width: 10%;
}

.btn {
  display: block;
  width: 20%;
}
.roll-dice-bottom-view {
  background-color: beige;
  float: initial;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dice-view {
  height: auto;
  width: auto;
  overflow: auto;
  background-color: rgb(181, 80, 80);
  margin-bottom: 10px;
}

.container {
  text-align: center;
}
.square {
  height: 25%;
  width: 20%;
  display: inline-block;
  vertical-align: center;
}

.held-die {
  background-color: rgb(40, 103, 106);
  height: 25%;
  width: 20%;
  display: inline-block;
  vertical-align: center;
}

.normal {
  height: 25%;
  width: 20%;
  display: inline-block;
  padding-bottom: 1rem;
}

table {
  font-family: arial, sans-serif;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
