.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-body {
  width: 580px;
  height: auto;
  margin: 0 auto;
  justify-content: center;
}
.h {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blueviolet;
}
