:root {
  display: inline-flex;
  justify-content: center;
  background-color: #135353;
}

/* .yathzee-app {
  justify-content: center;
  display: inline;
} */

.App-body {
  width: 600px;
  background-color: #b4c8c8;
}
