:root {
  display: inline-flex;
  justify-content: center;
  background-color: #f9f1f0;
}

.App-body {
  width: 600px;
  display: flex;
  background-color: #e79087;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 420px), screen and (max-height: 570px) {
  .scoreboard {
    width: 45%;
    justify-content: center;
  }
  .dice-container {
    display: flex;
  }
  .App-body {
    width: fit-content;
  }
}
